---
layout: default
---
<div class="container py-12 md:py-24">
	<div class="row row-gutters -mt-12">
		<div class="col md:w-1/2 mt-12">
            <h1>Accelerate</h1>
			<h1 class="ml4 text-red">
                <span class="letters letters-1">Growth</span>
                <span class="letters letters-2">Traction</span>
                <span class="letters letters-3">Knowledge</span>
            </h1>
            
            <h1 class="mt-5">Win</h1>
            <h1 class="ml4 text-red"> 
                <span class="letters letters-1">Customers</span>
                <span class="letters letters-2">Investors</span>
                <span class="letters letters-3">Partnerships</span>
            </h1>

		</div>

		<div class="col md:w-1/2 mt-12" data-aos="fade-left">
			{% include lazytube.html id="R2XaPhrrELU" %}
		</div>
	</div>
</div>

<div class="bg-fog py-16">
	<div class="container">
		<h2>Join the Collective</h2>

		<div class="mt-8 md:two-col-text">
			<p>Now, more than ever, we need entrepreneurs to build the future, and OWC’s Founder Lab is here to help. Our focus is to deploy resources to projects at all stages, from ideation to growth, through access to exclusive curriculum, networks and mentors.</p>
			<p class="mt-6 md:mt-0">As we move past the hype of decentralization and towards effective implementation, the Open Web Collective is recruiting and accelerating crypto-native and user-centric projects and businesses.</p>
			{% include actions.html text="Sound like you?" class="mt-6" %}
		</div>
	</div>
</div>

<div class="container py-12 md:py-24">
	<h2 class="-mb-4">Mentors: Bringing the best together</h2>

	<div class="row row-gutters">
		{% assign i = 0 %}
		{% for mentor in site.data.program.mentors %}
			<div class="col sm:w-1/2 md:w-1/3 lg:w-1/4 flex items-center mt-16" data-aos="fade-up" data-aos-delay="{{ i | modulo:4 | times:100 }}">
				<div class="relative w-16 h-16 flex-shrink-0 ml-8">
					<div class="absolute w-full h-full bottom-0 left-0 -ml-8 -mb-8 bg-smoke"></div>
					<img src="/assets/mugs/{{ mentor.mug }}" class="relative" alt="">
				</div>

				<div class="ml-4">
					<h5>{{ mentor.name }}</h5>
					<p class="text-14 mt-1">{{ mentor.creds }}</p>
				</div>
			</div>
			{% assign i = i | plus:1 %}
		{% endfor %}
	</div>
</div>

<div class="container py-12 md:py-24">
	<h2 class="-mb-4">Meet a few of our Founders</h2>

	<div class="row row-gutters">
		{% assign i = 0 %}
		{% for founder in site.data.program.founders %}
			<div class="col sm:w-1/2 md:w-1/3 lg:w-1/4 flex items-center mt-16" data-aos="fade-up" data-aos-delay="{{ i | modulo:4 | times:100 }}">
				<div class="relative w-16 h-16 flex-shrink-0 ml-8">
					<div class="absolute w-full h-full bottom-0 left-0 -ml-8 -mb-8 bg-smoke"></div>
					<img src="/assets/mugs/{{ founder.mug }}" class="relative" alt="">
				</div>

				<div class="ml-4">
					<h5>{{ founder.name }}</h5>
					<p class="text-14 mt-1">{{ founder.creds }}</p>
				</div>
			</div>
			{% assign i = i | plus:1 %}
		{% endfor %}
	</div>
</div>

<div class="container py-12 md:py-24">
	<h2 class="-mb-4">Our Partners</h2>
    <img class="mt-20 w-100p" src="/assets/img/partners.png" />
</div>

<div class="py-12 md:py-24 container">
	<h2>Ready for the details? <div data-aos="fade-up"><a href="/benefits" class="pb-2 border-b-4 border-red text-red hover:text-midnight hover:border-midnight" data-aos="fade-in">Dig deeper here</a></div></h2>
</div>


<script>
var ml4 = {};
ml4.opacityIn = [0,1];
ml4.scaleIn = [0.2, 1];
ml4.scaleOut = 3;
ml4.durationIn = 800;
ml4.durationOut = 600;
ml4.delay = 1600;

anime.timeline({loop: true})
  .add({
    targets: '.ml4 .letters-1',
    opacity: ml4.opacityIn,
    scale: ml4.scaleIn,
    duration: ml4.durationIn
  }).add({
    targets: '.ml4 .letters-1',
    opacity: 0,
    scale: ml4.scaleOut,
    duration: ml4.durationOut,
    easing: "easeInExpo",
    delay: ml4.delay
  }).add({
    targets: '.ml4 .letters-2',
    opacity: ml4.opacityIn,
    scale: ml4.scaleIn,
    duration: ml4.durationIn
  }).add({
    targets: '.ml4 .letters-2',
    opacity: 0,
    scale: ml4.scaleOut,
    duration: ml4.durationOut,
    easing: "easeInExpo",
    delay: ml4.delay
  }).add({
    targets: '.ml4 .letters-3',
    opacity: ml4.opacityIn,
    scale: ml4.scaleIn,
    duration: ml4.durationIn
  }).add({
    targets: '.ml4 .letters-3',
    opacity: 0,
    scale: ml4.scaleOut,
    duration: ml4.durationOut,
    easing: "easeInExpo",
    delay: ml4.delay
  }).add({
    targets: '.ml4',
    opacity: 0,
    duration: 500,
    delay: 500
  });

        </script>