---
layout: default
---
<div class="container py-24">
	<div class="row row-gutters justify-between items-center">
		<div class="col md:w-5/12">
			<h1>Program Details</h1>
			<p class="mt-6">Apply in minutes, and take your project to the next level, we will be there every step of the way. Enter into ideation and transition to validation through weekly updates, peer review, and guidance on how to build a company, in the end, moving to acceleration and raising capital.</p>
		</div>

		<div class="col md:w-1/2">
			<div data-lazytube="tDeb0LACCag" style="background-image: url('https://img.youtube.com/vi/tDeb0LACCag/maxresdefault.jpg');"></div>
		</div>
	</div>
</div>

<div class="container py-24">
	<h2>Stages</h2>

	<div class="row row-gutters">
		{% for stage in site.data.program.stages %}
			<div class="col md:w-1/3">
				<h3>{{ stage.title }}</h3>
				<p class="mt-6">{{ stage.text }}</p>
			</div>
		{% endfor %}
	</div>
</div>

<div class="container py-24">
	<h2>Benefits</h2>

	<div class="row row-gutters">
		{% for benefit in site.data.program.benefits %}
			<div class="col md:w-1/2 flex items-start mt-10">
				<img src="/assets/icons/{{ benefit.icon }}" class="shrink-0 mr-6" alt="">

				<div>
					<h4>{{ benefit.title }}</h4>
					<p class="mt-2">{{ benefit.text }}</p>
				</div>
			</div>
		{% endfor %}
	</div>
</div>

<div class="py-24 mt-12 container">
	<p class="font-bold text-52 leading-tight">Ready to get started? <br> <a href="#" class="pb-2 border-b-4 border-red text-red hover:text-midnight hover:border-midnight">Apply Now</a></h1>
</div>
